[submodule ".themes/MediumFox"]
	path = .themes/MediumFox
	url = https://github.com/sevenadrian/MediumFox
[submodule "source/_posts"]
	path = source/_posts
	url = git://github.com/drupal8notes/_posts
